<p>product-list works!</p>
<ng-container *ngIf="products$ |async as product else loading">
  <div *ngFor="let product of products$ | async" class="container">
    <button class="button-product" (click)="handleClick(product.id)">
      {{ product.name }}
    </button>
    <button class="button-product" (click)="handleEdit(product.id)">Edit</button>
  </div>
  </ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
