<h1>
  test xem thế nào
</h1>

<a routerLink="home" class="changeStyle">Home</a>
<a routerLink="/productList" class="changeStyle">Product</a>
<a routerLink="non" class="changeStyle">Ngẫu nhiên đi</a>
<router-outlet></router-outlet>
