<p>detail-product works!</p>
<ng-container *ngIf="product$ |async as product else loading">
  <h2>{{ product.name }}</h2>
  <h3>{{ product.content }}</h3>
  <a routerLink="edit"> Edit </a>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>

