.button-product {
  margin: 10px;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: solid;
  border-radius: 5px;
  width: 250px;
  height: 100px;
  background-color: aquamarine;
  & :hover {
    background-color: red;
  }
  & :active {
    background-color: blue;
  }
}
.container {
  display: flex;
  flex-direction: row;
}
